# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\考研数据结构\线性表\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
